//Конвертируется в .css в папку /css/
@import "../src/fonts/akrobat.css";

body{
    background-image: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-size: 100%;

    padding: 0;
    margin: 0;

    color: white;

    font-family: 'Akrobat';
}

.container{
    z-index: 2;
    margin: 0 auto;
    width: 1614px;
}

.bg-effect{
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(../assets/bg-effect-two.png);
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: -1;
}

.figure-two{
    display: flex;
}

.figure-one{
    display: flex;
}

.block-ellips{
    position: absolute;
}

.block-ellips-right{
    position: absolute;
    right: 0;
}

.block-img{
    z-index: 1;
}

.header{
    display: flex;
    justify-content: space-between;
}

.name-one{
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 1px;
}

.effect-shd{
    text-shadow: 0px 0px 34px rgba(255, 255, 255, 0.55);
    margin-top: -82px;
    font-size: 60px;
    font-weight: 900;
}

.korz{
    margin-top: -85px;
    margin-left: 9px;
    position: relative;
}

.flex-name-col{
    border-radius: 1px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    border-right: 5px solid #FF4242;
    border-left: 5px solid #FF4242;
    height: 65px;
}

.name-col-two{
    text-align: end;
    margin-top: -26px;
    margin-right: 10px;
}
.name-col-one{
    margin-top: -26px;
    margin-left: 10px;
}

.name-one-slog{
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 1px;
}

.name-tovar{
    display: flex;
    margin-top: 100px;
}

.ots{
    margin-right: 10px;
    margin-top: -100px;
}

.name-two-slog{
    margin-top: -55px;
    font-size: 60px;
    font-weight: 900;
    text-shadow: 0px 0px 34px rgba(255, 255, 255, 0.55);
}

.opacity-one{
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 1px;
}
.opacity-two{
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.1);

}
.opacity-three{
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.05);

}
.opacity-thour{
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.02);

}

.clothing{
    background-image: url(../assets/meet-no-hover.png);
    background-repeat: no-repeat;
    padding-top: 5px;
    width: 149px;
    height: 153px;
    margin-right: 20px;
    margin-bottom: 20px;
    transition: 0.2s ease;

    &:hover{
        background-image: url(../assets/hover-meet.png);
    }
}

.active-button{
    width: 10px;
    height: 10px;
    background: #FF4646;
    margin-left: 5px;
}

.name-clothing{
    text-align: center;
    margin-top: -36px;
}

.number-clothing{
    font-size: 17px;
    font-weight: 900;
}

.color-clothing{
    margin-top: -25px;
    color: rgba(255, 255, 255, 0.26);
}

.jacket{
    margin-top: -17px;
    width: 46px;
}

.sum{
    display: flex;
    margin-top: 3px;
}

.sum-total{
    display: flex;
    margin-top: 25px;
    margin-left: 20px;
}

.summ-clothing{
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}

.block-category-eat{
    margin-right: 15px;
}

.category-eat{
    margin-bottom: 10px;
    width: 66px;
    height: 66px;
    background-color: rgba(255, 70, 70, 0.35);
    background-image: url(../assets/category.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #FF4949;
    text-align: center;
    transition: .2s ease;

    &:hover{
        background-image: url(../assets/category-hover.png);
        background-color: rgba(255, 70, 70, 0.75);
    }
}

.button-buy{
    cursor: pointer;
    text-align: center;
    width: 25px;
    height: 25px;
    border: 1px solid #FF4646;

    background: radial-gradient(88.86% 88.86% at 50% 50%, rgba(255, 70, 70, 0.75) 0%, rgba(255, 70, 70, 0) 100%);
    transition: .4s ease-in-out;

    &:hover{
        background: linear-gradient(180deg, #FF4646 0%, #350C0C 100%);
    }
}

.block-clothings-and-sales{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    position: relative;
}

.block-clothing{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    height: 520px;
    overflow: scroll; 
}

::-webkit-scrollbar {
  width: 0;
}

.block-input-buy{
    width: 334px;
    height: 59px;
    background: radial-gradient(122.88% 122.88% at 50% 50%, rgba(255, 70, 70, 0.35) 0%, rgba(0, 0, 0, 0) 100%);
    border: 1px solid #FF4949;
    display: flex;
    align-items: center;
}

.block-sum{
    z-index: 10;
}

.block-img-kurt{
    text-align: center;
}

.mines-button{
    cursor: pointer;
    text-align: center;
    font-weight: 900;
    width: 25px;
    height: 25px;
    background: radial-gradient(88.86% 88.86% at 50% 50%, rgba(255, 70, 70, 0.75) 0%, rgba(255, 70, 70, 0) 100%);
    border: 0.7px solid #FF4646;
}

.plus-button{
    cursor: pointer;
    font-weight: 900;
    text-align: center;
    width: 25px;
    height: 25px;
    background: radial-gradient(88.86% 88.86% at 50% 50%, rgba(56, 204, 56, 0.75) 0%, rgba(56, 204, 56, 0) 100%);
    border: 0.7px solid #38CC38;
}

.name-buy-product{
    margin-left: 20px;
    margin-right: 15px;
}
.right{
    margin-right: 15px;
}

.block-method-buy{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.total{
    height: 41px;
    border-left: 3px solid #FF4242;
}
.name-total{
    font-family: 'Akrobat';
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    color: rgba(255, 255, 255, 0.4);
    margin-bottom: 5px;
    margin-top: -45px;
}
.method{
    margin-top: -45px;
}
.name-method{
    font-family: 'Akrobat';
font-style: normal;
font-weight: 800;
font-size: 17px;
color: rgba(255, 255, 255, 0.4);
margin-bottom: 20px;

}
.block-buy{
    overflow-y: scroll;
}
.flex-block-method{
    display: flex;
}
.block-dollar{
    cursor: pointer;
    text-align: center;
    width: 48px;
    height: 48px;
    background: radial-gradient(88.86% 88.86% at 50% 50%, rgba(56, 204, 56, 0.75) 0%, rgba(56, 204, 56, 0) 100%);
    border: 1px solid #38CC38;
}
.block-bank{
    cursor: pointer;
    text-align: center;
    background: radial-gradient(88.86% 88.86% at 50% 50%, rgba(255, 154, 70, 0.75) 0%, rgba(255, 154, 70, 0) 100%);
border: 1px solid #FF9A46;
width: 48px;
height: 48px;
margin-left: 15px;
}
.sum-product{
    display: flex;
}

// Адаптив

@media screen and (min-width: 1280px) {
    .container{
        width: 1192px;
    }
}
@media screen and (min-width: 1366px) {
    .container{
        width: 1614px;
    }
}
@media screen and (min-width: 1920px) {
    .container{
        width: 1836px;
    }
}
@media screen and (min-width: 2560px) {
    .container{
        width: 2475px;
    }
}
@media screen and (min-width: 3840px) {
    .container{
        width: 3749px;
        width: 2475px;
    }
}

